<style>
    .zoom:hover {
        transform: scale(1.5);
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
</style>

<a href="/user/dashboard">
    <span class="zoom" data-toggle="tooltip" data-html="true" data-placement="bottom" title="username">
        <div class="nav-item px-3 user-icon">
            <i class="fa fa-user fa-2x align-right" aria-hidden="true"></i>
        </div>
    </span>
</a>